# Ignore all files in the data folder
data/*

# Ignore all files in the notebook_edit folder
notebook_edit/*

# ignore all files in the model folder
models/*

# ignore .odp files in presentation folder
presentation/orig/*

# Python bytecode
src/__pycache__/
util/__pycache__/
*.pyc
*.pyo

# ignore database files
db/*

# Ignore smard guide
documents/smard_guide.pdf

# ignore chat logs
log/*

# Ignore data files
*.parquet
*.csv
*.db
*.sqlite