# Ignore all files in the data folder
data/*

# Ignore all files in the notebook_edit folder
notebook_edit/*

# ignore all files in the model folder
models/*

# ignore .odp files in presentation folder
presentation/*.odp

# Python bytecode
__pycache__/
*.pyc
*.pyo